<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Меню для работы с основными сущностями -->
            <ul class="menu">
                <li><a href="/Home/Index">Главная</a></li>
                <li><a href="/Tables/ComponentTypes">Типы комплектующих</a></li>
                <li><a href="/Tables/Components">Комплектующие</a></li>
                <li><a href="/Tables/Orders">Заказы</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Подключение JavaScript-файлов -->
        <script rel="stylesheet" src="~/js/crud.js" asp-append-version="true"></script>

        <!-- Основной контент страницы -->
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024  Cyber Care Services</p>
    </footer>
</body>
</html>
